<div class='container'>
  <div class='row'>
    
  <%= image_tag '管理者トップ.jpg', width: '100%' %>
  
  <div class="col-9 my-5">
    <h1 class="text-center">管理者のトップページ</h1>
    
    <table class="mx-auto mt-5">
      <tr>
        <td>
          <%= link_to admin_users_path do %>
            <%= image_tag 'ユーザー一覧.png', size: '100x130' %>
          <% end %>
        </td>
        <td>ユーザー一覧</td>
      </tr>
      
      <tr>
        <td>
          <%= link_to posts_path do %>
            <%= image_tag '投稿一覧.png', size: '100x130' %>
          <% end %>
        </td>
        <td>投稿一覧</td>
      </tr>
      
      <tr>
        <td>
          <%= link_to admin_genres_path do %>
            <%= image_tag 'ジャンル一覧.png', size: '140x130' %>
          <% end %>
        </td>
        <td>ジャンル一覧</td>
      </tr>
      
    </table>
  </div>
    
  <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>
