<div class='container'>
  <div class='row'>
    
  <%= image_tag '管理者トップ.jpg', width: '100%' %>
  
  <div class="col-9 my-5">
    <h2 class="text-center">管理者のトップページ</h2>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5 ">
      <div class="admin-box my-3">
        <%= link_to admin_genres_path do %>
          <%= image_tag '管理者作成.png', size: '100x130' %>
        <% end %>
        <h5 class="ml-5">管理者作成</h5>
      </div>

      <div class="admin-box my-3">
        <%= link_to admin_users_path do %>
          <%= image_tag 'ユーザー一覧.png', size: '110x130' %>
        <% end %>
        <h5 class="ml-5 ">ユーザー一覧</h5>
      </div>

      
      <div class="admin-box my-3">
        <%= link_to posts_path do %>
          <%= image_tag '投稿一覧.png', size: '100x130' %>
        <% end %>
        <h5 class="ml-5">投稿一覧</h5>
      </div>

      <div class="admin-box my-3">
        <%= link_to admin_genres_path do %>
          <%= image_tag 'ジャンル一覧.png', size: '140x130' %>
        <% end %>
        <h5 class="ml-5">ジャンル一覧</h5>
      </div>
    </div>
      
  </div>
    
  <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>
