<div class='container'>
  <div class='row'>
    <div class="about col-12">
      <%= image_tag 'アバウト画像.jpg', width: '100%' %>
      <h1>
        Handmade.comとは？
      </h1>
    </div>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5">
      <h2>＼ハンドメイド好きな人が自由に投稿するサイトです／</h2>
      <table>
        <tr>
          <th>サイドバーから単語からorジャンルごとで<br>検索可能！！</th>
          <th>
            <%= image_tag 'ex1.png', class: "ex1" %>
          </th>
        </tr>
        <tr>
          <th class="ex2">
            <%= image_tag 'ex2.png', class: "ex2" %>
          </th>
          <th>ログインしなくても投稿の閲覧可能！！</th>
        </tr>
        <tr>
          <th>ぜひ登録して自分の投稿をみんなに発信しよう！！</th>
          <th class="ex3">
            <%= image_tag 'ex3.png', class: "ex3" %>
          </th>
        </tr>
        <tr>
          <td class="ex4">
            <%= image_tag 'ex4.png', class: "ex4" %>
          </td>
          <th>いいねやコメントが多ければトップページのランキングに乗るかも？？</th>
        </tr>
        </tbody>
      </table>
    </div>
    
    <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>

