<div class='container'>
  <div class='row'>
    <div class="example col-12">
      <%= image_tag 'メイン画像.jpg', width: '100%' %>
      <h1>
        Handmade.comへ<br>
        ようこそ
      </h1>
    </div>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5">
      <div>
        <h5>いいね <i class="fas fa-thumbs-up"></i> TOP5!!</h5>
        <table class='table table-inverse'>
          <tbody>
            <% @post_like_ranks.each.with_index(1) do |post, i| %>
              <tr>
                <td class="text-center">
                  <% case i when 1 %>
                    <i class="fas fa-crown" style='color: #ffd700;'></i> 第<%= i %>位
                  <% when 2 %>
                    <i class="fas fa-crown" style='color: #c0c0c0;'></i> 第<%= i %>位
                  <% when 3 %>
                    <i class="fas fa-crown" style='color: #a0522d;'></i> 第<%= i %>位
                  <% else %>
                    第<%= i %>位
                  <% end %>
                </td>
                <td><%= image_tag post.get_post_image(100,100) %></td>
                <td>
                  <%= link_to post.title, post_path(post.id), class: "post_#{post.id}" %>
                  <br>
                  <br>作成:<%= link_to post.user.name,public_user_path(post.user.id) %>
                  <br><%= post.created_at.strftime('%Y/%m/%d') %>
                </td>
                <td><%= post.genre.name %></td>
                <td>
                  <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                  <%= post.favorites.count %> いいね
                </td>
              </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      
      <div class="mt-5">
        <h5>コメント <i class="fas fa-comments"></i> TOP5!!</h5>
        <table class='table table-inverse'>
          <tbody>
            <% @post_comment_ranks.each.with_index(1) do |post, i| %>
              <tr>
                <td class="text-center">
                  <% case i when 1 %>
                    <i class="fas fa-crown" style='color: #ffd700;'></i> 第<%= i %>位
                  <% when 2 %>
                    <i class="fas fa-crown" style='color: #c0c0c0;'></i> 第<%= i %>位
                  <% when 3 %>
                    <i class="fas fa-crown" style='color: #a0522d;'></i> 第<%= i %>位
                  <% else %>
                    第<%= i %>位
                  <% end %>
                </td>
                <td><%= image_tag post.get_post_image(100,100) %></td>
                <td>
                  <%= link_to post.title, post_path(post.id), class: "post_#{post.id}" %>
                  <br>
                  <br>作成:<%= link_to post.user.name,public_user_path(post.user.id) %>
                  <br><%= post.created_at.strftime('%Y/%m/%d') %>
                </td>
                <td><%= post.genre.name %></td>
                <td><i class="fas fa-comment"></i>コメント数: <%= post.comments.count %></td>
              </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    </div>
    
    <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>
