<div class="nested-fields">
  <div class="row mx-auto">
    <%# link_to_add_associationのform_nameで指定した名前。(初期値 : f)  %>
      <%= f.text_area :process_image, class: 'form-control' %>
      <% if @body.errors.include?(:process_image) %>
        <p style="color: red;"><%= @body.errors.full_messages_for(:process_image).first %>
      <% end %>
      
      <%= f.text_area :explanation, class: 'form-control' %>
      <% if @body.errors.include?(:explanation) %>
        <p style="color: red;"><%= @body.errors.full_messages_for(:explanation).first %>
      <% end %>
      
      <%= f.hidden_field :post_id, :value => @post.id %>
   <%= link_to_remove_association "remove task", f %>
  </div>
</div>