<div class="nested-fields">
  <div class="row mx-auto">
    <%# link_to_add_associationのform_nameで指定した名前。(初期値 : f)  %>
      <div class="form-group">
        <%= f.label :make_image, '作り方画像' %>
        <%= f.file_field :make_image, class: "form-control-file make_image", accept: 'image/*' %>
      </div>
      
      <%= f.text_area :explanation, placeholder: "作り方", class: 'form-control' %>
      <% if body.errors.include?(:explanation) %>
        <p style="color: red;"><%= body.errors.full_messages_for(:explanation).first %>
      <% end %>
      
   <%= link_to_remove_association "フォームを削除", f %>
  </div>
</div>