<div class='container'>
  <div class='row'>
    <div class="mx-auto col-9 mt-4">
      <div class="text-center">
        <h1>投稿編集</h1>
      </div>
        
      <%= form_with model: @post, class: "form-inline", local: true do |f| %>
      
        <div class="form-group col-12 my-4">
          <%= f.label :post_image, 'サムネ画像', class: "form-file-label" %>
          <%= f.file_field :post_image, class: "form-file-button post_image", accept: 'image/*' %>
        </div>
        
        <div class="form-group col-12 mb-4">
          <%= f.label :title,'タイトル' %>
          <%= f.text_field :title, autofocus: true, autocomplete: "title", class: 'form-control col-sm-6 col-md-7' %>
          <% if @post.errors.include?(:title) %>
            <p style="color: red;"><%= @post.errors.full_messages_for(:title).first %>
          <% end %>
        </div>
      
        <div class="parent">
          <div class="form-box">
            <div class="forms-item mx-5 mb-2 mt-4">
              <h4>材料</h4>
            </div>
            <div>
              <%= f.fields_for :post_materials do |form| %>
                <%= render "post_materials_fields", :f => form, :material => form.object %>
              <% end %>
            </div>
              <!-- １）追加ボタンの記述 -->
              <div class="add-botton-box text-center mt-2">
                <%= link_to_add_association "+フォームを追加する", f, :post_materials, partial: "post_materials_fields", render_options: {locals: { material: PostMaterial.new }} %>
              </div>
          </div>
        
          <div id="detail-association-insertion-point"></div>
        </div>
      
        <div class="parent">
          <div class="form-box">
            <div class="forms-item mx-5 mb-2 mt-4">
              <h4>作り方</h4>
            </div>
              <%= f.fields_for :post_makes do |form| %>
                <%= render "post_body_fields", :f => form, :body => form.object %>
              <% end %>
              <!-- １）追加ボタンの記述 -->
              <div class="add-botton-box text-center mt-2 mb-3">
                <%= link_to_add_association "+フォームを追加する", f, :post_makes, partial: "post_body_fields", render_options: {locals: { body: PostMake.new }} %>
              </div>
          </div>
        
          <div id="detail-association-insertion-point"></div>
        </div>
      
        <div class="form-group col-12 my-4">
          <%= f.label :genre_id,'ジャンル' %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
        </div>
      
        <div class="form-group col-12 mb-4">
          <%= f.label :status,'状態' %>
          <%= f.select :status, Post.statuses.keys.map { |k| [t("enums.post.status.#{k}"),k]}, {}, {class: "custom-select w-25"} %>
        </div>
        
        <div class="form-group col-12 mb-5 d-md-flex justify-content-md-end">
          <%= f.submit '変更を保存する', class: "btn btn-success" %>
          <%= link_to @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger destroy_post_#{@post.id} mx-2" do %>
            削除する <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      
      <% end %>
      
    </div>
  </div>
</div>
