<div class='container'>
  <div class='row'>
    
    <div class="mx-auto col-sm-8 col-md-8 col-lg-8 px-5 px-sm-0">
      <h1>投稿詳細</h1>
  		  
        <h5><%= @post.title %></h5>
        <table class='table table-inverse'>
        <% @materials.each do |m| %>
        <tr>
          <td><%= m.ing_name %></td>
          <td><%= m.quantity %></td>
        </tr>
        <% end %>
        
        <% @makes.each do |make| %>
        <tr>
          <td><%= image_tag make.get_post_image(100,100) %></td>
          <td><%= make.explanation %></td>
        </tr>
        <% end %>
        
        </table>
        <p>ジャンル：<%= link_to @genre.name, genres_path(id: @genre.id) %></p>
        
        <% if @post.user == current_user %>
          <%= link_to '編集する', edit_post_path(@post), class: "btn btn-sm btn-success edit_post_#{@post.id}" %>
        <% end %>
      
      <p>作成したユーザー：<%= link_to @post.user.name,public_user_path(@post.user.id) %></p>
      
      <p id="favorite_buttons_<%= @post.id %>">
        <%= render "favorites/favorite", post: @post %>
      </p>
      
      <div id="comments_area"> 
        <%= render 'comments/comment', post: @post %>
      </div>
      <div class="new-comment">
        <%= render 'comments/form', post: @post, comment: @comment %>
      </div>
        
    </div>
    <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>
