<div class='container'>
  <div class='row'>
    <div class="mx-auto col-8 mt-4">
      <div class="text-center">
        <h2>ログイン</h2>
      </div>
      
      <%= form_with model: [:public,@user], url: user_session_path, id: 'user', class: 'user form-inline', local: true do |f| %>
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
        <% end %>
        <%= flash[:error] %>
      
      <div class="form-group col-12 my-4">
        <%= f.label :name,'名前' %>
        <%= f.text_field :name, autofocus: true, class: 'form-control col-sm-6 col-md-7' %>
        <% if @user.errors.include?(:name) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:name).first %>
        <% end %>
      </div>
      
      <div class="form-group col-12 mb-4">
        <%= f.label :password,'パスワード' %>
        <%= f.password_field :password, class: 'form-control col-sm-6 col-md-7' %>
        <% if @user.errors.include?(:password) %>
          <p style="color: red;"><%= @user.errors.full_messages_for(:password).first %>
        <% end %>
      </div>

      <div class="formn-group col-12">
        <%= f.submit "ログイン", class: 'btn btn-primary btn-block col-6 mx-auto' %>
      </div>
      
      <% end %>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>