<div class='container'>
  <div class='row'>
    
    <div class="mx-auto col-sm-12 col-md-8 col-lg-9 my-5">
      <h1>会員ページ</h1>
      <div class="text-center mb-3">
        <p class="img-object-fit-radius">
          <%= image_tag @user.get_profile_image(150,150) %>
        </p>
      </div>
      <div class="row">
        <div class="col-9 mx-auto">
          <table class='table'>
            <tr>
	            <th>名前</th>
	            <td><%= @user.name %></td>
            </tr>
            <tr>
	            <th>自己紹介</th>
	            <td><%= @user.introduction %></td>
            </tr>
            <tr>
              <th>フォロー</th>
              <td>
                <%= link_to public_user_followings_path(@user) do %> 
                  <%= @follow.count %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>フォロワー</th>
              <td id="follower_count_<%= @user.id %>">
                <%= render "public/relationships/follower", user: @user, follower: @follower %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      
      <% if user_signed_in? && current_user.id != @user.id %>
        <div id="follow_btn_<%= @user.id %>">
          <%= render "public/relationships/follow_bottan", user: @user %>
        </div>
      <% end %>
      
      <% if current_user == @user %>
        <div class='row'>
          <div class="col text-right">
            <%= link_to edit_public_user_path(@user), class: "btn btn-secondary edit__public_user_#{@user.id}" do %>
              編集する <i class="fas fa-user-cog"></i>
            <% end %>
            <%= link_to confirm_posts_path, class: 'btn btn-info' do %>
              下書き一覧 <i class="far fa-file"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <div class="my-5">
        <h4><i class="fas fa-clipboard"></i> <%= @user.name %>の投稿</h4>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>タイトル</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.title, post_path(post.id), class: "post_#{post.id}" %></td>
              <td><%= post.genre.name %></td>
              <td>コメント数: <%= post.comments.count %></td>
              <td>
                <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
                <%= post.favorites.count %> いいね
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      
      <% if admin_signed_in? %>
        <div class="my-5">
          <h4>会員ステータス</h4>
          <h5>登録日: <%= @user.created_at.strftime('%Y/%m/%d') %>
            <% if @user.is_deleted %>
              退会済み
              <%= link_to admin_withdrawal_path(@user.id), method: :patch, data: { confirm: 'ステータスを有効にしますか？' }, class: "btn btn-sm btn-success ml-5" do %>
                有効にする <i class="fas fa-user-check"></i>
              <% end %>
            <% else %>
              有効
              <%= link_to admin_withdrawal_path(@user.id), method: :patch, data: { confirm: '本当に退会させますか？' }, class: "btn btn-sm btn-danger ml-5" do %>
                退会させる <i class="fas fa-user-slash"></i>
              <% end %>
            <% end %>
          </h5>
        </div>
      <% end %>
      
    </div>
      
    <%= render 'layouts/sidebar', genres: @genres %>
    
  </div>
</div>

