<header class = "fixed-top" style="height:40px;">
  <nav class="navbar navbar-expand-lg", style="background-color:#e0ffff;">
    <div class="container">
      <% if user_signed_in? %>
        <a class="navbar-brand text-dark" href="/">
          <span>
            <%= image_tag 'ロゴ.png', width: '150px', height: '40px' %>
          </span></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <% elsif admin_signed_in? %>
        <a class="navbar-brand text-dark" href="/admin/top">
          <span>
            <%= image_tag 'ロゴ.png', width: '150px', height: '40px' %>
          </span></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <% else %>
        <a class="navbar-brand text-dark" href="/">
          <span>
            <%= image_tag 'ロゴ.png', width: '150px', height: '40px' %>
          </span></a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav-bar" aria-controls="nav-bar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <% end %>
      
      <div class="collapse justify-content-end navbar-collapse " id="nav-bar">
        <ul class="navbar-nav my-2 my-md-0 mr-md-3">
          <% if user_signed_in? %>
            <li>
              <%= link_to posts_path,class: 'nav-link text-dark' do %>
                <i class="fas fa-tags"></i> 投稿一覧
              <% end %>
            </li>
            <li>
              <%= link_to public_user_path(current_user),class: 'nav-link text-dark' do %>
                <i class="far fa-user-circle"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to new_post_path,class: 'nav-link text-dark' do %>
                <i class="fas fa-pencil-alt"></i> 投稿する
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link text-dark' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <% elsif admin_signed_in? %>
            <li>
              <%= link_to admin_owners_path,class: 'nav-link text-dark' do %>
                <i class="far fa-user-circle"></i> マイページ
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-dark' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li>
              <%= link_to about_path,class: 'nav-link text-dark' do %>
                <i class="fas fa-question"></i> About
              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path,class: 'nav-link text-dark' do %>
                <i class="fas fa-user-edit"></i> 新規登録
              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path ,class: 'nav-link text-dark' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>
            <li>
              <%= link_to new_admin_session_path ,class: 'nav-link text-dark' do %>
                <i class="fas fa-wrench"></i> 管理者ログイン
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</header>